#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  .footer{
    position:absolute;
    bottom:0;
    }

    footer .footer-text-container{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFFFFF
    } 

  .box{
    position:absolute;
    text-align: center;
    justify-content: center;
    margin-top: 280px;
    margin-left: 210px;
    font-family: fantasy; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700;
  }
